.page {
  height: 100%;
}

body {
  font-family: $primary-font;
  color: $base-color-text;
  font-size: 14px;
  line-height: 18px;
  min-height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
