/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$alt-font-color: #000000;
$primary-font: "Lato", "Arial";
$secondary-font: "Oswald", "Arial";
$tablet-resolution: 768px;
$desktop-resolution: 1440px;
$mobile-width: 280px;
$tablet-width: 708px;
$desktop-width: 1220px;
