/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/button.scss";
@import "./blocks/container.scss";
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/main-container.scss";
@import "./blocks/promo.scss";
@import "./blocks/services.scss";
@import "./blocks/methodology.scss";
@import "./blocks/example.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/contacts.scss";
@import "./blocks/address.scss";
@import "./blocks/map.scss";
@import "./blocks/social-media.scss";
@import "./blocks/alt-main-logo.scss";
@import "./blocks/social-list.scss";
@import "./blocks/producer-logo.scss";
@import "./blocks/cards.scss";
@import "./blocks/additional-product.scss";
@import "./blocks/newsletter.scss";
