.additional-product__wrapper {
  position: relative;
  height: 100px;
  background-color: #68b738;
}

.additional-product__text::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 80px;
  background-image: url("../../icons/stack.svg#gift");
  background-repeat: no-repeat;
  background-position: center;
  top: 19px;
  left: 89px;
}

.additional-product__headline {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $alt-font-color;
}

.additional-product__list {
  list-style-type: none;
}

.additional-product__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.additional-product__description {
  font-size: 14px;
  line-height: 14px;
}


.additional-product__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
