.alt-main-logo {
  margin: 0 auto;

  @include tablet {
    margin: 0;
  }
}

.alt-main-logo svg {
  width: 128px;
  height: 24px;
  color: #111111;
}

.alt-main-logo svg:hover {
  color: #3e3e3e;
}

.alt-main-logo svg:active {
  color: #6b6b6b;
}
