.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
