.cards__list {
  list-style: none;
  padding: 0;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 52px 60px;
    margin-top: 62px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px 80px;
    margin-top: 68px;
  }
}

.cards__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px 0 21px;
  max-height: 209px;
  position: relative;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0 37px;
    max-height: 88%;
    min-width: 324px;
    background: linear-gradient(to bottom, #ffffff 19%, #f2f2f2 0%);
  }

  @include desktop {
    min-width: 245px;
  }
}

.cards__item--last {
  display: flex;
  flex-direction: column;

  @include tablet {
    background: none;
    border: 1px solid #cdcdcd;
    margin-top: auto;
  }
}

.cards__item::after,
.cards__item::before {
  content: "";
  position: absolute;
  width: calc(100% + 40px);
  height: 1px;
  background: #ebebeb;
  margin-left: -20px;

  @include tablet {
    display: none;
  }
}

.cards__item::after {
  top: 0;
}

.cards__item::before {
  bottom: 0;
  display: none;
}

.cards__item:last-child::before {
  display: block;

  @include tablet {
    display: none;
  }
}

.cards__image {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.cards__image-little {
  margin-bottom: 9px;

  @include tablet {
    margin-bottom: 15px;
  }
}

.cards__text-content {
  max-width: 250px;

  @include desktop {
    max-width: 169px;
  }
}

.cards__headline {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $alt-font-color;
  margin: 29px 0 39px;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin: 61px 0 39px;
  }

  @include desktop {
    margin: 68px 0 46px;
  }
}

.cards__description {
  font-size: 12px;
  line-height: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include tablet {
    font-size: 16px;
    line-height: 20px;
    min-width: 250px;
  }

  @include desktop {
    min-width: 169px;
  }
}

.cards__description dd {
  text-align: right;
  margin: 0;
}

.cards__description dt {
  @include tablet {
    padding: 0 0 8px;
    border-bottom: 1px solid #dcdcdc;
    width: 200%;
  }
}

.cards__text {
  color: #111111;
}

.cards__text--last {
  font-size: 12px;
  line-height: 3px;
  text-align: center;

  @include tablet {
    font-size: 16px;
    line-height: 18px;
    margin-top: 25px;
    padding: 0 77px;
  }

  @include desktop {
    margin-top: 26px;
    padding: 0 36px;
  }
}

.cards__button {
  grid-column: 1 / -1;
  padding: 10px 0;
  margin: 20px auto 0;
  max-width: 510px;
  width: 100%;

  @include tablet {
    max-width: 252px;
    margin: 32px auto 0;
  }

  @include desktop {
    max-width: 168px;
    margin: 39px auto 0;
  }
}

.cards__last-button {
  color: $base-color-text;
  background-color: #f2f2f2;
  padding: 10px 0 9px;
  margin: 18px auto 0;
  max-width: 510px;
  width: 100%;

  @include tablet {
    max-width: 254px;
    margin: 65px auto 0;
  }

  @include desktop {
    margin: 74px auto 0;
    max-width: 170px;
  }
}

.cards__last-button:hover {
  color: $base-color-text;
  background-color: #ebebeb;
}

.cards__last-button:active {
  color: $base-color-text;
  background-color: #ebebeb;
}

.cards__title h3 {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $alt-font-color;
  text-transform: uppercase;

  @include tablet {
    font-size: 20px;
    line-height: 24px;
  }
}

.cards__title {
  text-decoration: none;
  display: block;
  padding: 0 67px 0 0;
  text-align: left;

  @include tablet {
    text-align: center;
    padding: 0;
    margin-bottom: 22px;
  }

  @include desktop {
    margin: -6px 0 25px;
  }
}

.cards__title--last {
  text-align: center;
  position: relative;
  margin: 73px 0 0;
  padding: 0;

  @include tablet {
    margin: 120px 0 0;
    padding: 0 73px;
  }

  @include desktop {
    margin: 115px 0 0;
    padding: 0 54px;
  }
}

.cards__title--last h3 {
  margin: 0;
}

.cards__title h3 br {
  display: none;

  @include tablet {
    display: inline;
  }
}

.cards__title--last::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#plus");
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  top: -55px;
  left: 45.5%;

  @include tablet {
    width: 51px;
    height: 51px;
    top: -105px;
    left: 42.5%;
  }

  @include desktop {
    width: 60px;
    height: 60px;
    top: -100px;
    left: 37.5%;
  }
}
