.main-header {
  position: relative;
}

.main-header--index::before {
  @include desktop {
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url("../../images/background-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
    right: 0;
    min-width: 50%;
    height: 693px;
    background-color: #5eaa2f;
  }
}

.main-header__container {
  @include tablet {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
  }

  @include desktop {
    max-width: 1440px;
  }
}
