.main-header {
  position: relative;
}

.main-header__container {
  @include tablet {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
  }

  @include desktop {
    max-width: 1440px;
  }
}
