.main-nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  z-index: 1;
  display: none;

  @include tablet {
    position: static;
    left: unset;
    margin-left: auto;
    width: auto;
    display: block;
  }

  &--open {
    display: block;
  }
}
.main-nav__container {
  padding: 0;

  @include tablet {
    padding: 0;
  }
}

.main-nav__list {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;

  @include tablet {
    display: flex;
    gap: 24px;
  }
}
