.methodology__headline {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $alt-font-color;
  text-transform: uppercase;
}

.methodology__list {
  list-style-type: none;
}
