.methodology__container {
  margin: 0 auto 53px;
  max-width: 510px;

  @include tablet {
    max-width: 800px;
    margin: 0 auto;
  }

  @include desktop {
    max-width: 1440px;
  }
}


.methodology__headline {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $alt-font-color;
  margin-top: 24px;
  margin-bottom: 19px;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin: 43px 0 0;
  }

  @include desktop {
    margin-top: 70px;
  }
}

.methodology__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  counter-reset: section;

  @include tablet {
    flex-direction: row;
    gap: 164px 57px;
    justify-content: space-between;
    padding: 106px 0 99px;
  }

  @include desktop {
    justify-content: start;
    gap: 80px;
    padding: 68px 0 42px;
  }
}

.methodology__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: -3;
  left: 0;
  background-color: #68b738;

  @include tablet {
    width: 80px;
    height: 80px;
    top: -112px;
    left: 2px;
  }
}

.methodology__item {
  position: relative;
  margin-top: 25px;
  padding-left: 80px;
  min-height: 54px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    max-width: 328px;
    margin-top: 79px;
    padding-left: 0;
    z-index: 1;
    flex-grow: 1;
  }

  @include desktop {
    max-width: 245px;
    font-size: 16px;
    margin-top: 116px;
    margin-bottom: 55px;
  }
}

.methodology__text {
  margin: 0;

  @include tablet {
    max-width: 250px;
  }
}

.methodology__text br {
  display: none;

  @include tablet {
    display: inline;
  }
}

.methodology__item::after {
  position: absolute;
  counter-increment: section;
  content: counters(section, ".") " ";
  display: none;

  @include tablet {
    display: block;
    z-index: -1;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    color: #f2f2f2;
    top: -149px;
    left: 115px;
  }
}

.methodology__item:nth-child(1)::before {
  background-image: url("../../icons/stack.svg#leaf");
  background-size: 24px 28px;
  background-position: center;
  background-repeat: no-repeat;
}

.methodology__item:nth-child(2)::before {
  background-size: 24px 28px;
  background-image: url("../../icons/stack.svg#water");
  background-position: center;
  background-repeat: no-repeat;
}

.methodology__item:nth-child(3)::before {
  background-size: 24px 28px;
  background-image: url("../../icons/stack.svg#fork");
  background-position: center;
  background-repeat: no-repeat;
}

.methodology__item:nth-child(4)::before {
  background-size: 24px 28px;
  background-image: url("../../icons/stack.svg#watch");
  background-position: center;
  background-repeat: no-repeat;
}
