.page {

}

.page__body-illustrate {
  @include desktop {
    background-image: url("../../images/background-desktop@2x.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50% auto;
  }
}
