.promo {
  font-family: $secondary-font;
  color: #ffffff;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 62.52%;
    width: 100%;
    background-image: url("../../images/background-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }
}

.promo__container {
  padding-top: 27px;

  @include tablet {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }

  @include desktop {
    max-width: 1440px;
    padding: 71px 192px 0;

  }
}

.promo__tagline {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;

  @include tablet {
    margin-top: 34px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
    margin-left: 90px;
  }

  @include desktop {
    margin-right: 0;
    margin-left: 0;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 25px 0 0;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    margin-left: 90px;
    margin-top: 41px;
  }

  @include desktop {
    margin-left: 0;
  }
}

.promo__container picture {
  display: block;
  margin-top: 30px;

  @include tablet {
    margin-top: 20px;
  }
}

.promo__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  max-width: 510px;
  margin: 0 auto;

  @include tablet {
    width: 243px;
    height: 56px;
    position: absolute;
    top: 289px;
    left: 120px;
    font-size: 20px;
    line-height: 26px;
  }

  @include desktop {
    top: 336px;
    left: 190px;
  }
}

.promo__image {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;

  @include desktop {
    width: 552px;
    margin: -278px 367px 0;
  }
}
