.promo {
  background-color: #68b738;
  font-family: $secondary-font;
  color: #ffffff;
}


.promo__tagline {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
