.services__list {
  list-style-type: none;
  padding: 0;

  @include desktop {
    display: flex;
    gap: 80px;
  }
}

.services__item {
  background-color: #f2f2f2;
}

.services__item:not(:last-child) {
  @include tablet {
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.services__item .services__title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #68b738;

  @include tablet {
    width: 200px;
    height: 200px;
    top: 0;
    left: 415px;
  }

  @include desktop {
    width: 100px;
    height: 100px;
    top: -64px;
    left: 0px;
  }
}

.services__item .services__title::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.services__item:nth-child(odd) .services__title::after {
  top: -3px;
  left: 7px;
  width: 36px;
  height: 50px;
  background-image: url("../../icons/stack.svg#skinny-cat");

  @include tablet {
    width: 140px;
    height: 194px;
    top: -5px;
    left: 435px;
  }

  @include desktop {
    width: 70px;
    height: 97px;
    top: -63px;
    left: 16px;
  }
}

.services__item:nth-child(even) .services__title::after {
  top: 11px;
  left: -9px;
  width: 67px;
  height: 28px;
  background-image: url("../../icons/stack.svg#skinny-cat-1");

  @include tablet {
    width: 268px;
    height: 112px;
    top: 57px;
    left: 382px;
  }

  @include desktop {
    width: 134px;
    height: 56px;
    top: -43px;
    left: -19px;
  }
}

.services__item:nth-child(n+1) {
  @include tablet {
    padding: 77px 250px 77px 53px;
  }

  @include desktop {
    padding: 77px 61px 77px 55px;
  }
}

.services__title {
  position: relative;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: $alt-font-color;
  text-transform: uppercase;
  padding-left: 90px;

  @include tablet {
    padding: 0 250px 0 0;
  }

  @include desktop {
    padding: 0 0 0 250px;
  }
}

.services__text {
  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }
}

.services__button {
  position: relative;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $alt-font-color;
  text-transform: uppercase;
  text-decoration: none;

  @include tablet {
    font-size: 20px;
  }
}

.services__button::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 10px;
  background-image: url("../../icons/stack.svg#arrow");
  background-repeat: no-repeat;
  background-position: center;
  top: 8px;
  left: 89px;

  @include tablet {
    top: 10px;
    left: 112px;
  }
}

.services__button:active {
  opacity: 30%;
}
