.site-list__item {
  padding: 21px 0 23px;
  border-top: 1px solid #e6e6e6;

  @include tablet {
    border-top: none;
    padding: 39px 0 12px;
    margin-left: 34px;
  }

  @include desktop {
    border-top: none;
    margin-left: 11px;
  }
}

.site-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;

  @include tablet {
    border: none;
  }

  @include desktop {
    border: none;
  }
}

.site-list__link {
  font-family: $secondary-font, sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $alt-font-color;
  text-decoration: none;
  font-weight: 400;

  @include tablet {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
  }

  @include desktop {
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
  }
}

.site-list__link:hover {
  opacity: 60%;
}

.site-list__link:active {
  opacity: 30%;
}

.site-list__link--dark {
  @include desktop {
    color: #000000;
  }
}


.site-list__link--active {
  @include tablet {
    padding-bottom: 7px;
    border-bottom: 2px solid #68b738;
  }

  @include desktop {
    border-bottom: 2px solid #ffffff;
  }
}

.site-list__link--dark-active {
  @include desktop {
    border-bottom: 2px solid #68b738;
  }
}
