.site-list__link {
  font-family: $secondary-font, sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $alt-font-color;
  text-decoration: none;
  font-weight: 400;
}
