.site-list__link {
  font-family: $secondary-font, sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $alt-font-color;
  text-decoration: none;
  font-weight: 400;

  @include tablet {
    font-size: 18px;
    line-height: 24px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 100%;
    color: #f2f2f2;
  }
}

.site-list__link--dark {
  @include desktop {
    color: #000000;
  }
}
