.weight-control {
  background-color: #f2f2f2;
}

.weight-control__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  color: $alt-font-color;
  text-transform: uppercase;
}

.weight-control__button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $alt-font-color;
  text-transform: uppercase;
  text-decoration: none;
}
